openapi: 3.0.1
info:
  title: Gremlin agents scenarios.recommended API
  description: The API for interacting with the Gremlin Failure-as-a-Service platform
  termsOfService: https://www.gremlin.com/terms_of_service_2017_03_24
  contact:
    name: Gremlin Support
    email: support@gremlin.com
  license:
    name: Gremlin License
    url: https://www.gremlin.com/license_2017_03_24
  version: '1.0'
servers:
- url: https://api.gremlin.com/v1
  description: Gremlin API v1
tags:
- name: scenarios.recommended
  description: Get/List recommended scenarios
paths:
  /scenarios/recommended:
    get:
      tags:
      - scenarios.recommended
      summary: List all recommended scenarios.
      description: Requires the privilege [`SCENARIOS_READ`](https://www.gremlin.com/docs/user-management/access-control/#privileges)
      operationId: getActive
      parameters:
      - name: teamId
        in: query
        description: Required when using company session token.
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
        '403':
          description: 'User requires privilege for target team: SCENARIOS_READ'
        '401':
          description: Authorization header missing or malformed. Please provide proper credentials in the authorization header.
      security:
      - privilege:
        - SCENARIOS_READ
  /scenarios/recommended/{guid}:
    get:
      tags:
      - scenarios.recommended
      summary: Get details about a recommended scenario.
      description: Requires the privilege [`SCENARIOS_READ`](https://www.gremlin.com/docs/user-management/access-control/#privileges)
      operationId: getRecommendedScenario
      parameters:
      - name: guid
        in: path
        description: This value represents the globally unique identifier of the record to fetch.
        required: true
        schema:
          type: string
      - name: teamId
        in: query
        description: Required when using company session token.
        required: true
        schema:
          type: string
      responses:
        '404':
          description: recommended scenario not found
        '403':
          description: 'User requires privilege for target team: SCENARIOS_READ'
        '401':
          description: Authorization header missing or malformed. Please provide proper credentials in the authorization header.
      security:
      - privilege:
        - SCENARIOS_READ
  /scenarios/recommended/static/{staticEndpointName}:
    get:
      tags:
      - scenarios.recommended
      summary: Get details about a recommended scenario.
      description: Requires the privilege [`SCENARIOS_READ`](https://www.gremlin.com/docs/user-management/access-control/#privileges)
      operationId: getRecommendedScenarioFromStaticEndpointName
      parameters:
      - name: staticEndpointName
        in: path
        required: true
        schema:
          type: string
      - name: teamId
        in: query
        description: Required when using company session token.
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
        '403':
          description: 'User requires privilege for target team: SCENARIOS_READ'
        '401':
          description: Authorization header missing or malformed. Please provide proper credentials in the authorization header.
      security:
      - privilege:
        - SCENARIOS_READ
