openapi: 3.0.1
info:
  title: Gremlin agents google-cloud.integration API
  description: The API for interacting with the Gremlin Failure-as-a-Service platform
  termsOfService: https://www.gremlin.com/terms_of_service_2017_03_24
  contact:
    name: Gremlin Support
    email: support@gremlin.com
  license:
    name: Gremlin License
    url: https://www.gremlin.com/license_2017_03_24
  version: '1.0'
servers:
- url: https://api.gremlin.com/v1
  description: Gremlin API v1
tags:
- name: google-cloud.integration
  description: Fetch setup instructions for configuring a Google Cloud integration.
paths:
  /gcp/integration-setup:
    get:
      tags:
      - google-cloud.integration
      summary: Returns the configuration details necessary for Gremlin to access GCP resources.
      description: 'This endpoint provides the necessary details a customer needs in order to configure their GCP project so that Gremlin can access it.


        Requires the privilege [`MINIMUM_TEAM_PRIVILEGES`](https://www.gremlin.com/docs/user-management/access-control/#privileges)'
      operationId: getMetadata
      parameters:
      - name: teamId
        in: query
        description: Required when using company session token.
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GcpIntegrationMetadataResponse'
        '403':
          description: 'User requires privilege for target team: MINIMUM_TEAM_PRIVILEGES'
        '401':
          description: Authorization header missing or malformed. Please provide proper credentials in the authorization header.
      security:
      - privilege:
        - MINIMUM_TEAM_PRIVILEGES
      x-gremlin-feature-flag: gcp-ihc
components:
  schemas:
    GcpIntegrationMetadataResponse:
      type: object
      properties:
        principalAccessRoles:
          type: array
          items:
            type: string
        serviceAccountRolePrivileges:
          type: array
          items:
            type: string
        gremlinGcpProxyServiceAccount:
          type: string
        serviceAccountOutOfBoxRoles:
          type: array
          items:
            type: string
